[general]
enabled=yes
bindaddr=127.0.0.1
bindport=8088
enablestatic=no
tlsenable=${ASTERISK_WEBRTC_ENABLED}
tlsbindaddr=0.0.0.0:${ASTERISK_HTTPS_PORT}
tlscertfile=${ASTERISK_TLS_CERT_FILE}
tlsprivatekey=${ASTERISK_TLS_KEY_FILE}
