[global]
type=global
user_agent=Magnanimous-Telecom
endpoint_identifier_order=auth_username,username,ip,anonymous

[transport-udp]
type=transport
protocol=udp
bind=0.0.0.0:5060

[transport-tcp]
type=transport
protocol=tcp
bind=0.0.0.0:5060

[transport-wss]
type=transport
protocol=wss
bind=0.0.0.0

[${MAGNANIMOUS_ADMIN_EXTENSION}]
type=aor
max_contacts=5
remove_existing=yes

[${MAGNANIMOUS_ADMIN_EXTENSION}]
type=auth
auth_type=userpass
username=${MAGNANIMOUS_ADMIN_EXTENSION}
password=${MAGNANIMOUS_ADMIN_PASSWORD}

[${MAGNANIMOUS_ADMIN_EXTENSION}]
type=endpoint
aors=${MAGNANIMOUS_ADMIN_EXTENSION}
auth=${MAGNANIMOUS_ADMIN_EXTENSION}
context=magnanimous-internal
disallow=all
allow=opus,ulaw,alaw
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes

[${MAGNANIMOUS_AI_EXTENSION}]
type=aor
max_contacts=5
remove_existing=yes

[${MAGNANIMOUS_AI_EXTENSION}]
type=auth
auth_type=userpass
username=${MAGNANIMOUS_AI_EXTENSION}
password=${MAGNANIMOUS_AI_PASSWORD}

[${MAGNANIMOUS_AI_EXTENSION}]
type=endpoint
aors=${MAGNANIMOUS_AI_EXTENSION}
auth=${MAGNANIMOUS_AI_EXTENSION}
context=magnanimous-internal
disallow=all
allow=opus,ulaw,alaw
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes

; Browser/WebRTC clients can use the same extension credentials over WSS.
; A production deployment should use a publicly trusted TLS certificate.

#include pjsip-trunk.conf
